{% extends "base.html" %} {% load static %} {% block content %}

<h1>Top Batsmans</h1>
<br /><br />

<div
  class="table-responsive"
  style="background-color: #00d8d6; border-radius: 10px;"
>
  <table class="table table-boarded" style="font-size: large;">
    <thead>
      <tr>
        <th>Batsman</th>
        <th>Played</th>
        <th>Run</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for batsman in batsmans %}
      <tr>
        {% if batsman.run != 0 %}
        <td>{{ batsman.name }}</td>
        <td>{{ batsman.played }}</td>
        <td>{{ batsman.run }}</td>
        <td>{{ batsman.role }}</td>
        {% endif %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{% endblock content %}
